/* CSS Document */

/********************************************************************/
/*                       BASICS                                      */
/********************************************************************/
* {
    box-sizing: border-box;
}

*:before,
*:after {
    content: "";
    position: absolute;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    margin: 0;
}

body {
    background-image: url('../images/backgroundv2.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}

@font-face {
  font-family: 'comic1';
  src: url('../font/heroesassembleacadital-webfont.woff2') format('woff2'),
       url('heroesassembleacadital-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'comic2';
  src: url('../font/heroesassembleboldexpand2-webfont.woff2') format('woff2'),
       url('heroesassembleboldexpand2-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


h1 {
    color: #FBEED5;
    position: fixed;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    top: 6em;
    font-size: 17.5em;
    left:0.4em;
    top:-0.3em;
    font-weight: normal;
    font-style: normal;
    font-family:'comic1',
    Fantasy;
}


/********************************************************************/
/*                             KLEUREN                       */
/********************************************************************/

:root {
    --licht-blauw: #489DCB;
    --donker-blauw: #1E415E;
    --lichter-zwart: #291C27;
    --donker-zwart: #1A0C1B;
    --licht-beige: #FBEED5;
    --donker-beige: #C6B8A7;
    --licht-rood: #C0283E;
    --donker-rood: #A8233A;
}

/********************************************************************/
/*                       CITY                                       */
/********************************************************************/
.skyscrapers {
    position: fixed;
    bottom: 8%;
    left: 4.5em;
    width: 65%;
    height: auto;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    list-style-type: none;
    transform: rotate(-0.7deg);
}

li {
    margin: 0.5vw;
    display: flex;
    justify-content: center;
}

/* Alle skyscrapers zijn knoppen */

button {
    background-color: rgba(0, 0, 0, 0.0);
    border: none;
    padding-left: 1vw;
    color: var(--donker-beige);
    width: 100%;
    font-family: 'comic2', Fantasy;
    bottom: 0em;

}

/********************************************************************/
/*                             SKYSCRAPER 1                       */
/********************************************************************/
.skyscraper1 {
    height: 21.8em;
    position: relative;
    width: 9em;
    background-color: var(--donker-zwart);
}

#btn1 {
    background-image: url('../images/defaultstate1.png');
    background-size: 9em;
    background-repeat: no-repeat;
}

#btn1:focus {
    background-image: url('../images/focusstate1.png');
    background-size: 9em;
    background-repeat: no-repeat;
}

/********************************************************************/
/*                             SKYSCRAPER 2                       */
/********************************************************************/
.skyscraper2 {
    background-color: var(--donker-zwart);
    width: 6.2em;
    height: 28em;
    position: relative;
}

.skyscraper2:before {
    width: 0.2em;
    height: 3em;
    background-color: var(--donker-zwart);
    top: -3em;
    left: 0.9em;
}

#btn2 {
    background-image: url('../images/defaultstate2.png');
    background-size: 6.2em;
    background-repeat: no-repeat;
}

#btn2:focus {
    background-image: url('../images/focusstate2.png');
    background-size: 6.2em;
    background-repeat: no-repeat;
}

/********************************************************************/
/*                             SKYSCRAPER 3                       */
/********************************************************************/
.skyscraper3 {
    background-color: var(--donker-zwart);
    width: 8.7em;
    height: 30em;
    position: relative;
}

.skyscraper3:before {
    width: 1em;
    height: 0.5em;
    background-color: var(--donker-zwart);
    top: -0.5em;
}

#btn3 {
    background-image: url('../images/defaultstate3.png');
    background-size: 8.7em;
    background-repeat: no-repeat;
}

#btn3:focus {
    background-image: url('../images/focusstate3.png');
    background-size: 8.7em;
    background-repeat: no-repeat;
}

/********************************************************************/
/*                             SKYSCRAPER 4                       */
/********************************************************************/
.skyscraper4 {
    background-color: var(--donker-zwart);
    width: 5.8em;
    height: 21.8em;
    position: relative;
}

#btn4 {
    background-image: url('../images/defaultstate4.png');
    background-size: 5.8em;
    background-repeat: no-repeat;
}

#btn4:focus {
    background-image: url('../images/focusstate4.png');
    background-size: 5.8em;
    background-repeat: no-repeat;
}

/********************************************************************/
/*                             SKYSCRAPER 5                       */
/********************************************************************/
.skyscraper5 {
    background-color: var(--donker-zwart);
    width: 5.8em;
    height: 26em;
    position: relative;
}

.skyscraper5:before {
    width: 0.7em;
    height: 0.25em;
    background-color: var(--donker-zwart);
    top: -0.25em;
    right: 0.6em;
}

#btn5 {
    background-image: url('../images/defaultstate4.png');
    background-size: 5.8em;
    background-repeat: no-repeat;
}

#btn5:focus {
    background-image: url('../images/focusstate4.png');
    background-size: 5.8em;
    background-repeat: no-repeat;
}

/********************************************************************/
/*                             SKYSCRAPER 6                       */
/********************************************************************/
.skyscraper6 {
    background-color: var(--donker-zwart);
    width: 8.7em;
    height: 23.6em;
    position: relative;
}

.skyscraper6:before {
    width: 0.6em;
    height: 1.3em;
    background-color: var(--donker-zwart);
    top: -1em;
    right: 0.7em;
}

#btn6 {
    background-image: url('../images/defaultstate6.png');
    background-size: 8.7em;
    background-repeat: no-repeat;
}

#btn6:focus {
    background-image: url('../images/focusstate6.png');
    background-size: 8.7em;
    background-repeat: no-repeat;
}

/********************************************************************/
/*                             SKYSCRAPER 7                       */
/********************************************************************/
.skyscraper7 {
    background-color: var(--donker-zwart);
    width: 5.8em;
    height: 26.3em;
    position: relative;
}

.skyscraper7:before {
    width: 0.7em;
    height: 0.25em;
    background-color: var(--donker-zwart);
    top: -0.25em;
    right: 0.6em;
}

#btn7 {
    background-image: url('../images/defaulstate7.png');
    background-size: 5.8em;
    background-repeat: no-repeat;
}

#btn7:focus {
    background-image: url('../images/focusstate7.png');
    background-size: 5.8em;
    background-repeat: no-repeat;
}

/********************************************************************/
/*                             SKYSCRAPER 8                       */
/********************************************************************/

.skyscraper8 {
    background-color: var(--donker-zwart);
    width: 8.7em;
    height: 30em;
    position: relative;
}

.skyscraper8:before {
    width: 1em;
    height: 0.5em;
    background-color: var(--donker-zwart);
    top: -0.5em;
}

#btn8 {
    background-image: url('../images/defaultstate8.png');
    background-size: 8.7em;
    background-repeat: no-repeat;
}


#btn8:focus {
    background-image: url('../images/focusstate8.png');
    background-size: 8.7em;
    background-repeat: no-repeat;
}



/********************************************************************/
/*                              LIGHTS                           */
/********************************************************************/


.light {
    position: fixed;
    width: 0.25em;
    height: 7.6em;
    background-color: var(--licht-beige);
    cursor: pointer;
    z-index: 2;
}

.light:before {
    width: 0.5em;
    height: 1.56em;
    background-color: var(--donker-beige);
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
    bottom: 0;
    left: -0.125em;
}

.light:after {
    width: 0.813em;
    height: 0.938em;
    background-color: var(--donker-beige);
    border-radius: 50%;
    left: -0.25em;
    top: -0.625em;
}

.light-glow {
    position: absolute;
    z-index: 2;
    width: 0.8em;
    height: 0.9em;
    top: -0.6em;
    left: -0.25em;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0 0 4em 2.5em #fff;
    opacity: 0;
}

.light-glow:hover {
    opacity: 1;
}

#light1 {
    left: 12.5em;
    bottom: 5.2em;
}

#light2 {
    left: 25em;
    bottom: 5.3em;
}

#light3 {
    left: 37.5em;
    bottom: 5.4em;
}

#light4 {
    left: 50em;
    bottom: 5.6em;
}


/********************************************************************/
/*                       FIRE BOOM BOOM                            */
/********************************************************************/


.fire-flame,
.boom {
    width: 10%;
    position: fixed;
    left: 35%;
    bottom: 2em;
    animation-name: fire;
    animation-duration: 2s;
    animation-delay: 5.5s;
    animation-iteration-count: infinite;
    opacity: 0;
    z-index: 8;
}


@keyframes fire {
    0% {
        transform: scale(.3) rotate(-5deg);
        opacity: 1;

    }

    10% {
        transform: scale(.5) rotateY(40deg);
        opacity: 1;
    }

    20% {
        transform: scale(.4) rotate(0deg);
        opacity: 1;
    }

    40% {
        transform: scale(.6) rotate(10deg);
        opacity: 1;
    }

    50% {
        transform: scale(.5) rotateY(-40deg);
        opacity: 1;
    }

    60% {
        transform: scale(.4) rotate(-5deg);
        opacity: 1;
    }

    70% {
        transform: scale(.3) rotateY(40deg);
        opacity: 1;
    }

    80% {
        transform: scale(.5) rotate(10deg);
        opacity: 1;
    }

    100% {
        transform: scale(.6) rotate(-10deg);
        opacity: 1;
    }
}


/********************************************************************/
/*                       CARS                                       */
/********************************************************************/
.taxi {
    position: fixed;
    z-index: 5;
    width: 8%;
    bottom: 5em;
    animation-name: drivingtaxi;
    animation-duration: 3s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
}

@keyframes drivingtaxi {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(32vw);
    }
}

.car {
    position: fixed;
    z-index: 5;
    width: 8%;
    bottom: 5em;
    right: 20em;
    animation-name: drivingcar;
    animation-duration: 3s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
}

@keyframes drivingcar {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-31vw);
    }
}


/********************************************************************/
/*                       SPIDERMAN                                  */
/********************************************************************/
.spidey5 {
    position: fixed;
    z-index: 4;
    left: 10vw;
    width: 16vw;
    top: -50vw;
}

.spidey8 {
    position: fixed;
    z-index: 4;
    right: 5vw;
    bottom: 100vh;
}


.spidey1,
.spidey2,
.spidey3,
.spidey4,
.spidey6,
.spidey7 {
    position: fixed;
    left: 44vw;
    top: 20vh;
    width: 12vw;
    transform-origin: 0 -100vh;
    transform: rotate(60deg)
}


/********************************************************************/
/*                            WEB                                  */
/********************************************************************/

.spidey1::after,
.spidey2::after,
.spidey3::after,
.spidey4::after,
.spidey6::after,
.spidey7::after,
.spidey8::after {
    content: "";
    position: absolute;
    bottom: 40%;
    left: 85%;
    width: 0.3em;
    height: 100em;
    background-color: black;
    z-index: 0;
}

.spidey5::after {
    content: "";
    position: absolute;
    bottom: 37%;
    left: 78%;
    width: 0.3em;
    height: 100em;
    background-color: black;
    z-index: 0;
}

/********************************************************************/
/*                       ANIMATION SWING                            */
/********************************************************************/

.slinger {
    animation-name: slinger;
    animation-duration: 10s;
}

@keyframes slinger {
    0% {
        transform: rotate(60deg);
    }

    100% {
        transform: rotate(-60deg);
    }
}


/********************************************************************/
/*                        ANIMATION DANGLE                           */
/********************************************************************/
.dangle {
    animation-name: down, dangle, down;
    animation-duration: 3s, 1s, 3s;
    animation-delay: 0s, 3s, 8s;
    animation-iteration-count: 1, 5, 1;
    animation-direction: normal, normal, reverse;
    animation-timing-function: ease-out, ease-in-out, ease-in;
}


@keyframes down {
    0% {
        transform: translateY(0vh);
    }

    100% {
        transform: translateY(95vh);
    }
}


@keyframes dangle {
    0% {
        animation-timing-function: ease-out;
        transform-origin: center -65vh;
        transform: translateY(95vh) rotate(0deg);

    }

    25% {
        animation-timing-function: ease-in-out;
        transform-origin: center -65vh;
        transform: translateY(95vh) rotate(10deg);

    }

    75% {
        animation-timing-function: ease-in;
        transform-origin: center -65vh;
        transform: translateY(95vh) rotate(-10deg);

    }

    100% {

        transform-origin: center -65vh;
        transform: translateY(95vh) rotate(0deg);
    }
}

/********************************************************************/
/*                      ANIMATION DROP DOWN                         */
/********************************************************************/


.lastone {
    animation-name: lastone;
    animation-duration: 5s;
}

@keyframes lastone {
    0% {
        transform: translateY(0vh);
    }

    80% {
        transform: translateY(70vh);
    }

}


/********************************************************************/
/*                      information text                        */
/********************************************************************/

#textbox1, #textbox2, #textbox3, #textbox4, #textbox5, #textbox6, #textbox7, #textbox8  {
    position: fixed;
    right: 6.5em;
    top:12em;
    width:15em;
    line-height: 2em;
    font-family: 'comic2', fantasy;
    color: var(--donker-zwart);
}


